@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Big+Shoulders+Inline+Display:wght@100..900&family=Fredericka+the+Great&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pirata+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');

@import './composition_classy.css';
@import './composition_pantone.css';
@import './composition_clean.css';

@import './theme_base.css';
@import './theme_minimal.css';
@import './theme_blueprint.css';
@import './theme_retro.css';
@import './theme_deep-red.css';
@import './theme_dark.css';
@import './theme_picasso.css';

.mapboxgl-ctrl {
    display: none !important;
}
