.theme_picasso .composition_classy {
    --credits-bg-color: #ffffff;
    --credits-text-color: #000;

    --box-gradient-color: transparent;

    --title-font-family: 'Barrio', system-ui;
    --title-font-size: 13cqw;
    --title-font-size-landascape: 10cqw;
    --title-font-weight: 700;
    --title-line-height: 1em;
    --title-color: #fff;
    --title-transform: uppercase;
    --title-letter-spacing: 0.1em;

    --subtitle-font-family: 'Open Sans';
    --subtitle-font-size: 1.5cqw;
    --subtitle-font-weight: 400;
    --subtitle-letter-spacing: 0.1em;
    --subtitle-line-height: 1.4em;
    --subtitle-line-color: #00000000;
    --subtitle-lines-height: 0.2cqw;
    --subtitle-color: #000;
    --subtitle-margin-top: -1%;

    --coos-font-family: 'Open Sans';
    --coos-font-size: 1cqw;
    --coos-font-weight: 400;
    --coos-line-height: 1.2em;
    --coos-letter-spacing: 0.1em;
    --coos-color: #000;
    --coos-margin-top: 0.7%;

    --address-font-family: 'Open Sans';
    --address-font-size: 1cqw;
    --address-font-weight: 400;
    --address-line-height: 1.2em;
    --address-letter-spacing: 0.1em;
    --address-color: #000;
}

.theme_picasso .composition_classy .text-box {
    padding: 2%;
}

.theme_picasso .composition_classy .text-box .title {
    width: 95%;
    overflow: visible;
}

.theme_picasso .composition_classy .text-box .title span {
    position: relative;
}

.theme_picasso .composition_classy .text-box .title span::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-text-stroke-width: 0.1em;
    -webkit-text-stroke-color: #000;
}

.theme_picasso .composition_classy .text-box .second-area {
    padding: 3% 0;
    width: 95%;
    margin: 0 auto;
    /* background-color: #ffffff; */
}

.theme_picasso .composition_classy .text-box .subtitle span {
    background-color: #ffffff;
    padding: 0.2em 0.6em;
}

.theme_picasso .composition_classy .text-box .coos span {
    background-color: #ffffff;
    padding: 0.2em 0.6em;
}

.theme_picasso .composition_classy .text-box .address span {
    background-color: #ffffff;
    padding: 0.2em 0.6em;
}

.theme_picasso .composition_pantone {
    --credits-bg-color: #f4c82a;
    --credits-text-color: #174f9a;

    --box-gradient-color: transparent;
    --box-line-color: transparent;

    --title-font-family: 'Barrio', system-ui;
    --title-font-size: 10cqw;
    --title-font-size-landascape: 10cqw;
    --title-font-weight: 700;
    --title-line-height: 1em;
    --title-letter-spacing: 0.1em;
    --title-color: #ffffff;
    --title-padding: 0 0 1% 0;

    --subtitle-font-family: 'Open Sans';
    --subtitle-font-size: 1.5cqw;
    --subtitle-font-weight: 700;
    --subtitle-letter-spacing: 0.1em;
    --subtitle-lines-height: 1em;
    --subtitle-color: #000;

    --coos-font-family: 'Open Sans';
    --coos-font-size: 1cqw;
    --coos-font-weight: 400;
    --coos-line-height: 1.2em;
    --coos-letter-spacing: 0.1em;
    --coos-color: #000;

    --address-font-family: 'Open Sans';
    --address-font-size: 1cqw;
    --address-font-weight: 400;
    --address-line-height: 1.2em;
    --address-letter-spacing: 0.1em;
    --address-color: #000;
}

.theme_picasso .composition_pantone .text-box .title {
    overflow: visible;
}

.theme_picasso .composition_pantone .text-box .title span {
    position: relative;
}

.theme_picasso .composition_pantone .text-box .title span::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-text-stroke-width: 0.1em;
    -webkit-text-stroke-color: #000000;
}

.theme_picasso .composition_pantone .text-box .second-area {
    display: flex;
    width: 100%;
    padding: 1.5% 1%;
    background-color: #ffffff;
}

.theme_picasso .composition_pantone .text-box .subtitle span {
    background-color: transparent;
    padding: 0.2em 0.6em;
}

.theme_picasso .composition_pantone .text-box .coos {
    flex-direction: column;
    align-items: end;
}

.theme_picasso .composition_pantone .text-box .address {
    flex-direction: column;
    align-items: end;
}
