.theme_retro .composition_classy {
    --credits-bg-color: #eee8da;
    --credits-text-color: #ba3d3d;

    --box-gradient-color: linear-gradient(180deg, transparent 30%, #efe8d7 80%, #efe8d7 100%);

    --title-font-family: 'Pirata One';
    --title-font-size: 14cqw;
    --title-font-size-landascape: 10cqw;
    --title-font-weight: 500;
    --title-line-height: 1em;
    --title-color: #ba3d3d;

    --subtitle-font-family: 'Open Sans';
    --subtitle-font-size: 1.5cqw;
    --subtitle-font-weight: 700;
    --subtitle-letter-spacing: 0.1em;
    --subtitle-line-color: #000;
    --subtitle-color: #000;
    --subtitle-lines-height: 0.2cqw;
    --subtitle-margin-top: 2%;

    --coos-font-family: 'Open Sans';
    --coos-font-size: 1cqw;
    --coos-font-weight: 400;
    --coos-line-height: 1.2em;
    --coos-letter-spacing: 0.1em;
    --coos-color: #000;
    --coos-margin-top: 2%;

    --address-font-family: 'Open Sans';
    --address-font-size: 1cqw;
    --address-font-weight: 400;
    --address-line-height: 1.2em;
    --address-letter-spacing: 0.1em;
    --address-color: #000;
}

.theme_retro .composition_classy .text-box .title span::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-text-stroke-width: 0.06em;
    -webkit-text-stroke-color: #eee8da;
}

.theme_retro .composition_pantone {
    --credits-bg-color: #efe8d7;
    --credits-text-color: #000;

    --box-gradient-color: #efe8d7;
    --box-line-color: #ba3d3d;

    --title-font-family: 'Pirata One';
    --title-font-size: 11cqw;
    --title-font-size-landascape: 10cqw;
    --title-font-weight: 700;
    --title-line-height: 1em;
    --title-letter-spacing: 0em;
    --title-color: #ba3d3d;
    --title-padding: 0 0 2% 0;

    --subtitle-font-family: 'Open Sans';
    --subtitle-font-size: 1.5cqw;
    --subtitle-font-weight: 700;
    --subtitle-letter-spacing: 0.1em;
    --subtitle-lines-height: 1em;
    --subtitle-color: #000;

    --coos-font-family: 'Open Sans';
    --coos-font-size: 1cqw;
    --coos-font-weight: 400;
    --coos-line-height: 1.2em;
    --coos-letter-spacing: 0.1em;
    --coos-color: #000;

    --address-font-family: 'Open Sans';
    --address-font-size: 1cqw;
    --address-font-weight: 400;
    --address-line-height: 1.2em;
    --address-letter-spacing: 0.1em;
    --address-color: #000;
}
