:root {
    --credits-bg-color: #fff;
    --credits-text-color: #000;
}

.theme_base .credits span {
    z-index: 9999;
    position: absolute;
    right: 2em;
    bottom: 2em;
    padding: 0.5em 0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: var(--credits-bg-color);
    color: var(--credits-text-color);
}

.q_low .credits span {
    font-size: 6pt;
}

.q_medium .credits span {
    font-size: 8pt;
}

.q_high .credits span {
    font-size: 10pt;
}
