@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
    --font-sans: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    --breakpoint-3xl: 1920px;
}

:root {
    --ui-primary: #000000;
    --ui-secondary: #e0e0e0;
}

body {
    background-color: var(--bg-color, #f0eee7);
}

/* GLASS */

.glass {
    position: relative;
    backdrop-filter: blur(6px) saturate(180%);
}
.glass::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    opacity: 0.6;
    z-index: -1;
}

.glass-bg-white {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(222, 222, 222, 0.8);
    border-radius: 2rem;
    /* box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3); */
}

.glass-bg-black {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 2rem;
    /* box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3); */
}

.glass-bg-white::after {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1), inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    filter: blur(1px) drop-shadow(10px 4px 6px rgb(98, 98, 98)) brightness(115%);
}

.glass-bg-black::after {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset -10px -8px 0px -11px rgba(0, 0, 0, 1), inset 0px -9px 0px -8px rgba(0, 0, 0, 1);
    filter: blur(1px) drop-shadow(10px 4px 6px rgb(98, 98, 98)) brightness(115%);
}

/* SCOLLBAR */

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) transparent;
}

*:hover {
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
    border-radius: 9999px;
    background: rgba(0, 0, 0, 0);
}

*:hover::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.03);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 9999px;
}

*:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.07);
}

.custom-tooltip::-moz-selection,
.custom-tooltip::selection {
    background: transparent !important;
}
